<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new article</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="add-article-container">
        <div class="add-article">
            <h2>View Article</h2>
            <div>
                <form action="/articles/new" method="post">
                    <p>
                        <strong>Title: </strong>
                        <%= article.title %>
                    </p>
                    <p>
                        <strong>Body: </strong>
                        <%= article.title %>
                    </p>
                    <input type="text" name="title" placeholder="Title" value="<%= article.title %>" disabled>
                    <textarea name="content" placeholder="Body" rows="5" disabled><%= article.text %></textarea>
                    <input type="author" name="author" placeholder="Author" value="<%= article.author %>" disabled>
                    <a href="/">Go back home</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>